@page "/earnings"
@*@using PNPDashboard.Client.Components;*@
@using System.Globalization;
@using PNPDashboard.Shared;
@using System.Net.Http.Json;
@namespace MudBlazor.Docs.Examples
@inject HttpClient httpClient
@inject HttpClient Http;



    <h3>AffiliateMapping</h3>



    @code {

    }
